.hero {
  position: relative;
  background:#eee;
  color:#555;
  text-align: center;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  
  min-height: 500px;
  max-height: 556px;
  height: auto;
  
}

.heroDetails {
  position: absolute;
  background: #ffffff;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  font-size: 14px;
  padding: 0 0.5em;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
  color: #1b61b2;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
